body {
    font-family: 'Arial', sans-serif;
    background: repeating-linear-gradient(
        45deg, 
        white, white 50px, 
        #0057B8 50px, #0057B8 100px
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
    border: 3px solid #FFD700; /* Amarillo del sol */
}

h1 {
    color: #0057B8;
    font-size: 24px;
}

label {
    font-size: 14px;
    color: #333;
    display: block;
    margin-top: 10px;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

button {
    width: 100%;
    background: #FFD700;
    color: #333;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: #FFC107;
}

#resultado {
    font-size: 18px;
    color: #333;
    margin-top: 15px;
    font-weight: bold;
}
